@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	body{
		background: url('img/pipes@2x.png');
	}

	input.pray-button {
	    height: 300px;
	    width: 300px;
	    border-radius: 300px;
	    border: 0px;
		position:absolute;
		left: 175px;
		top:110px;
		background: url('img/pray_button_up@2x.png');
	}

	input.pray-button:active {
		background: url('img/pray_button_down@2x.png');
	}
}

@media only screen {
	body{
		background: url('img/pipes.png');
	}

	a.pray-button {
	    height: 150px;
	    width: 150px;
	    border-radius: 150px;
	    border: 0px;
		position:absolute;
		left: 88px;
		top:55px;
		background: url('img/pray_button_up.png');
	}

	a.pray-button:active {
		background: url('img/pray_button_down.png');
	}
}
.content
{
    padding:10px;
    text-align:center;                       
} 
        
.redBtn                       
{
    -webkit-border-radius:4px;
    padding:10px;
    text-align:center;
    color:#fff;
    font-size:14px;
    font-weight:bold;             
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #F2594B), color-stop(2%, #F2594B), color-stop(100%, #BF0426));
    -webkit-tap-highlight-color:rgba(0,0,0,0); 
    border: 1px solid #aa0000;
    border-top-color: #bf0000;  
    -webkit-box-shadow: 1px 1px 6px #666666;  
} 
.okBtn
{             
    width:80px;
    padding:10px;                
    position:absolute;
    left:35%;
    bottom:10px;  
}

/* modal window*/
.modalOverlay
{
    width:100%;
    height:100%;
    position:absolute;
    top:0;	       
    left:0;
    margin:0;
    padding:0;
    background:#000;
    opacity:0;
    -webkit-transition: opacity 0.3s ease-in;
    z-index:101;
}
.modalWindow
{
    position:fixed;
    /*top:150px;	        */
    margin:0;	        	       
    border:2px solid #151515;	        	        
    /*width:400px;
    height:300px;	        done in script now*/
    text-align:center;
    word-spacing:2px;
    line-height:15px;
    font-weight:bold;
    font-size:13px;
    color:#2B3A42;
    /*padding:10px;*/
    opacity:0;                        
    z-index:102;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #EFEFEF), color-stop(2%, #EFEFEF), color-stop(100%, #DCEBDD));    
    -webkit-border-radius:2px;              
    -webkit-box-shadow:-1px 2px 12px rgba(0, 0, 0, 0.91);
    -webkit-transition: opacity 0.2s ease-in;                          
}
.modalWindowHeader
{
    width:100%;
    line-height:45px;
    /*height:62px;*/
    padding-top:3px;                           
    color: #fff;
    display: block;
    overflow:hidden;
    font-size: 16px;
    font-weight: bold;            
    text-align: center;                        
    margin-bottom:0px;    
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8a8a8a), color-stop(2%, #6a6a6a), color-stop(100%, #151515));
}
.modalWindowContent
{       
    padding:10px;                           
    color: #000;
    display: block;
    overflow:hidden;
    font-size: 14px;
    font-weight: bold;            
    line-height:20px;                                          
}